html, body {
    padding: 0;
    margin: 0;
    background-color: aliceblue;
}

body {
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 1fr;

    width: 100vw;
    height: 100vh;
}

#page-header {
    display: flex;
    justify-content: space-between;

    width: 100vw;

    grid-row: 1;
    grid-column: 1;

    background-color: #4c79ff;
}

#season-selector {
    align-self: center;
    margin-right: 10px;
}

#content-area {
    grid-row: 2;
    grid-column: 1;

    height: 100%;
    background-color: #EEEEF0;
}

#logo-img {
    width: 80px;
    height: 80px;
}

#customer-table {
    width: calc(100% - 20px);
    margin: 10px;

    font-family: sans-serif;

    border-collapse: collapse;
    border: 1px solid #000000;

    text-align: center;
}

th, td {
    padding: 8.3px;
}

#customer-table tr {
    border-bottom: 1px solid #000000;
}

#customer-table td, #customer-table th {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}

button {
    margin: 0px;
}